.bebele{
  color: silver;
  text-shadow: -1px -1px 0px white,
  1px 1px 0px darkgray;
}

.box-inset_drop_shadow{
  box-shadow: 2px 2px 5px gray inset;
  padding: 5px;
  margin: 20px;
}

body{
  background-image: url(../わんわん.png),url(../怒った顔の猫.jpg);
  background-repeat: no-repeat,no-repeat;
  background-color: #99FF99;
  background-size: 100px 100px,cover;
  margin: 5px;
}
